    <header class="header scrolled" id="header">
        <div class="container header-inner">
            <a href="{{INDEX_HREF}}" class="logo">
                <img src="{{ASSET_PREFIX}}{{LOGO_PATH}}" alt="FAZDETUDO.PT" class="logo-img">
                <span class="logo-brand">
                    <span class="logo-text">fazdetudo<em>.pt</em></span>
                    <span class="logo-tagline">HANDYMAN</span>
                </span>
            </a>
            <div class="header-actions">
                <a href="{{INDEX_HREF}}" class="service-page-back"><i class="fa-solid fa-arrow-left" aria-hidden="true"></i> <span>{{BACK_LABEL}}</span></a>
                <a href="{{TEL_HREF}}" class="btn-phone" id="header-phone">
                    <i class="fa-solid fa-phone" aria-hidden="true"></i>
                    <span>{{PHONE_DISPLAY}}</span>
                </a>
            </div>
        </div>
    </header>
